@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Medium.eot');
  src: url('font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('font/Montserrat-Medium.woff') format('woff'),
  url('font/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3689FD;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PLink styles */
html {
  height: 100%;
}

body{
  min-height: 100%;
  background: url("img/page-bg.png") no-repeat;
  background-color: #141414;
  background-size: cover;
  color: #FAFAFA;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}
body::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #001;
  opacity: .8;
  z-index: -1;
  position: fixed;
}


.win-header{
  -webkit-app-region: drag;
  display: flex;
  
  /* MAIN LINE DIRECTION */
  flex-direction: row; 
  /* row-reverse; column-reverse; */
  
  /* MAIN LINE ALIGNMENT */
  justify-content: flex-end;
  /* flex-start; flex-end; center; space-between; space-around; */
  
  /* PERPENDICULAR LINE ALIGNMENT */
  align-items: flex-end;
  /* flex-start; flex-end; center; stretch; baseline; */

  height: 32px;
  color: #6A6D86;
  background: url("img/logo-mini.png") no-repeat left center #141414;
}

.win-header > div{
  height: 32px;
  width: 30px;
  -webkit-app-region: no-drag;
}

.win-header > div:hover{
  filter: brightness(200%);
}

.win-header > div.btn-minimize{
  background: url("img/btn-minimize.png") no-repeat center center;
}
.win-header > div.btn-close{
  background: url("img/btn-close.png") no-repeat center center;
}

.flag-select{
  background: #1B1D26;
  border: 1px solid #2C334C;
  box-sizing: border-box;
  border-radius: 2px;
}
.flag-select .selected--flag--option{
  padding-right: 0px !important;
}
.flag-select > div > span.arrow-down {
  padding: 0px 4px;
  color: #8794C7;
}

.plink-flag-selector{
  margin: 20px;
  float: right;
  clear: both;
}

.main-logo-authorization{
  width: 100%;
  clear: both;
  background: url("img/logo-big.png") no-repeat center center;
  height: 36px;
}

.h1-authorization{
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  margin: 25px 0px 0px;
  padding: 20px 20px 10px;
}

.h2-authorization{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  margin: 0px;
  padding: 0px 20px;
}

#qr-canvas{
  width: 140px;
  height: 140px;
  padding: 14px;
  background: #FFFFFF;
  border-radius: 2px;
  clear: both;
  margin: 55px 0px 0px;
}

.qr-expire{
  font-size: 8px;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 55px;
}

.h3-authorization{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 80px 0px 0px;
}

.flag-select .flag-options.to--left{
  right: 0px !important;
}

.flag-select .flag-options {
  max-height: 320px !important;
}

.h2-authorization-success{
  height: 291px;
  font-size: 35px;
  vertical-align: middle;
  display: table-cell;
  color: #2E8B57;
}

.table-class{
  display: table;
  width: 100%;
}

.flex-conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.block1{
  flex-grow: 1;
  flex-basis: 50px;
}
.block2{
  flex-grow: 2;
  flex-basis: 100px;
}
.block3{
  flex-grow: 4;
  flex-basis: 200px;
}
.block4{
  flex-grow: 2;
  flex-basis: 100px;
}
.block5{
  flex-grow: 1;
  flex-basis: 50px;
}

@media all and (max-height: 700px){
  .h2-authorization-success{
    height: 91px;
    font-size: 35px;
    vertical-align: middle;
    display: table-cell;
    color: #2E8B57;
  }

  #qr-canvas{
    width: 140px;
    height: 140px;
    padding: 14px;
    background: #FFFFFF;
    border-radius: 2px;
    clear: both;
    margin: 5px 0px 0px;
  }

  .qr-expire{
    font-size: 8px;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .h3-authorization{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 80px 0px 0px;
  }
}

@media all and (max-height: 600px){
  .h2-authorization-success{
    height: 91px;
    font-size: 35px;
    vertical-align: middle;
    display: table-cell;
    color: #2E8B57;
  }

  #qr-canvas{
    width: 140px;
    height: 140px;
    padding: 14px;
    background: #FFFFFF;
    border-radius: 2px;
    clear: both;
    margin: 5px 0px 0px;
  }

  .qr-expire{
    font-size: 8px;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .h3-authorization{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 0px;
  }
}

@media all and (max-height: 550px){
  .h1-authorization{
    margin-top: -40px;
    padding: 5px;
  }
  .main-logo-authorization{
    position: relative;
    top: -50px;
  }
  .h3-authorization, .h2-authorization, a.App-link{
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
  }
  .h2-authorization{
    margin-bottom: 5px;
  }
  .h2-authorization-success{
    font-size: 25px;
  }
}